html {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

#cards {
  height: 80vh;
  margin: 3rem;
  padding: 0.5rem;
  border: 5px solid #FFD5D5;
  border-radius: 1rem;
  columns: 5 200px;
  column-gap: 0;
}

.card {
  border-radius: 1rem;
  padding: 1rem;
  display: inline-block;
  position: relative;
}

.cardContent {
  text-align: center;
  width: 100%;
  word-break: break-word;
}

.divBtnDeletePic {
  display: none;
  top: 0;
  left: 0;
  border-radius: 1rem;
  background: rgba(255, 0, 0, 0.61);
  position: absolute;
  width: 100%;
  height: 100%;
}

.btnDeletePic {
  max-width: 6rem;
  position: absolute;
  top: 32%;
  left: 32%;
}

.cardPicture {
  margin: 0.25rem;
  border-radius: 1rem;
}

.cardPicture, .cardTitle, .cardDescription {
  width: 100%;
}

#extraDivFormImgs {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#formImgs {
  position: fixed;
  z-index: 2;
  padding: 1rem;
  background: #FFFDF1;
  bottom: 5.5rem;
}





.btnOp {
  width: 2rem;
}

/* Button used to open the contact form - fixed at the bottom of the page */
/* time botao */
.open-button {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  background-color: rgb(201, 111, 176);
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  width: 4rem;
}

/* fale conosco botao */
.open-button2 {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  background-color: #555;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 4rem;
}

/* The popup form - hidden by default */
/* time formulario */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  left: 15px;
  border: 5px solid #f1f1f1;
  padding: 0;
  z-index: 2;
}

/* fale conosco formulario */
.form-popup2 {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 5px solid #f1f1f1;
  padding: 0;
  z-index: 1;
}

/* Add styles to the form container */
.form-container {
  max-width: 200px;
  padding: 10px;
  background-color: white;
}

.form-container2 {
  max-width: 200px;
  padding: 10px 10px 10px 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=email], .form-container textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=email]:focus, .form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container2 .btn2 {
  background-color: #04AA6D;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

.form-container2 .cancel2 {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

ul {
  list-style-type: none;
}




#btnOpenForm {
  display: flex;
  justify-content: center;
  left: 48.1%;
  transform: translate(-51.9%, 0);
  margin: 0.5rem;
  position: fixed;
  bottom: 1rem;
  width: 2.5rem;
  cursor: pointer;
}

#btnCloseForm {
  width: 1.2rem;
  cursor: pointer;
}

.btnText {
  display: none;
}

@media screen and (min-width: 600px) {
  .btnText {
    display: block;
  }
  .open-button {
    background-color: pink;
    width: 10rem;
  }
  .open-button2 {
    background-color: rgb(124, 81, 136);
    width: 10rem;
  }
}