body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  top: 23px;
  right: 30px;
  width: 180px;
}

.open-button2 {
  background-color: #555;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  top: 76px;
  right: 30px;
  width: 180px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 0;
  right: 15px;
  border: 5px solid #f1f1f1;
  padding: 9px 0 0 0;
  z-index: 2;
}

.form-popup2 {
  display: none;
  position: fixed;
  top: 61px;
  right: 15px;
  border: 5px solid #f1f1f1;
  padding: 0;
  z-index: 1;
}

/* Add styles to the form container */
.form-container {
  max-width: 200px;
  padding: 10px;
  background-color: white;
}

.form-container2 {
  max-width: 200px;
  padding: 10px 10px 10px 10px;
  background-color: white;
}


/* Full-width input fields */
.form-container input[type=text], .form-container input[type=email], .form-container textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=email]:focus, .form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container2 .btn2 {
  background-color: #04AA6D;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

.form-container2 .cancel2 {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

ul {
  list-style-type: none;
}

#card {
  border: 5px solid red;
  columns: 5 200px;
  column-gap: 0;
  text-align: center;
}

.card {
  border: 5px solid black;
  padding: 0.5rem;
  text-align: center;
  display: inline-block;
  min-width: 19.4vw;
  object-fit: contain;
  word-break: break-word;
}

.delete {
  max-width: 1.5rem;
}

.cardPicture, .cardTitle, .cardDescription {
  width: 100%;
}