* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

body {
  position: relative;
  
}

header {
  width: 100%;
  height: 5rem;
  background: rgb(247, 247, 247);
}

main {
  min-height: 100vh;
  margin: 0 2%;
}

#cards {
  columns: 5 200px;
}

.card {
  border: solid black 1px;
  padding: 0.5rem;
  margin-top: 2%;
  text-align: center;
  display: inline-block;
  width: 100%;
  word-break: break-word;
}

.cardPicture {
  padding: 2%;
}

#extraDivFormImgs {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* animation: slideDown 0.4s; */
}

#formImgs {
  position: fixed;
  z-index: 2;
  padding: 1rem;
  animation: slideUp 0.4s;
  background: #FFFDF1;
  bottom: 5.5rem;
}

@keyframes slideUp {
  from {transform: translateY(100%);}
  to{transform: translateX(0%);}
}

@keyframes slideDown {
  from {transform: translateY(-100%);}
  to{transform: translateX(0%);}
}


.btnOp {
  width: 2rem;
}

/* Button used to open the contact form - fixed at the bottom of the page */
/* fale conosco botao */
.open-button {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-content: center;
  justify-content: center;
  background-color: rgb(201, 151, 187);
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  position: inherit;
  bottom: 1.3rem;
  left: 1rem;
  width: 3rem;
  height: 2.5rem;
}

/* time botao */
.open-button2 {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-content: center;
  justify-content: center;
  background-color: rgb(155, 101, 170);
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  position: inherit;
  bottom: 1.3rem;
  right: 1rem;
  width: 3rem;
  height: 2.5rem;
}

/* The popup form - hidden by default */
/* time formulario */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  left: 15px;
  border: 5px solid #f1f1f1;
  padding: 0;
  z-index: 2;
}

/* fale conosco formulario */
.form-popup2 {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 5px solid #f1f1f1;
  padding: 0;
  z-index: 1;
}

/* Add styles to the form container */
.form-container {
  max-width: 200px;
  padding: 10px;
  background-color: white;
}

.form-container2 {
  max-width: 200px;
  padding: 10px 10px 10px 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=email], .form-container textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=email]:focus, .form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container2 .btn2 {
  background-color: #04AA6D;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

.form-container2 .cancel2 {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

ul {
  list-style-type: none;
}

.btnDelete {
  max-width: 1.5rem;
  display: none;
}

.cardPicture, .cardTitle, .cardDescription {
  width: 100%;
}

#btnOpenForm {
  display: flex;
  justify-content: center;
  left: 48.1%;
  transform: translate(-51.9%, 0);
  margin: 0.5rem;
  position: fixed;
  bottom: 0.25rem;
  width: 3.5rem;
  cursor: pointer;
  z-index: 1;
}

#btnCloseForm {
  width: 1.2rem;
  cursor: pointer;
}

.btnText {
  display: none;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
  background: rgb(247, 247, 247);
}

@media screen and (min-width: 600px) {
  .btnText {
    display: block;
  }
  .open-button {
    width: 10rem;
  }
  .open-button2 {
    width: 10rem;
  }
}

